<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>

	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="clientId" value="AXXuoxc16GD8AF48yB4czo1xQqjPnjPOfz716bfZAbEl6IdB79PlAh_zZtQvpN9R_X4mquelgSp4o_xh" />
			<add name="clientSecret" value="EBggYMUVCE5n7injfaVeHiz6qiF73jVIoqj-SpBR2aYQ_T2WhRZMbidz_rIQ4b2cp1vWtZ68QnBDvb2H" />
		</settings>
	</paypal>
</configuration>